<h2>Accounts Page</h2> 
<div class="content">
    <!-- This will contain an updated text message, whether the user is logged in or not -->
    <b><p class="pos">{{test}}</p></b>
    <!-- Clicking this button will refresh the page. For some reason it changes the login message to 'Not logged In' -->
    <a class="pos1" href="#accounts" onclick="window.location.reload()">{{logout}}</a>
</div>

<!-- username and password textbox -->

<p>Username: <input type="text" ng-model="user"></p>
<p>Password : <input type="password" ng-model="pass"></p>

<!-- The button uses another directive ng-click, where it runs a $scope object of encrypt, passing the user and pass models -->
<p class="align"><button ng-click="encrypt()">Log In</button> <button ng-click="clear()">Reset</button></p>


<p>If you haven't registered, you register <a href="#register">here</a></p>
<!-- This message $scope updates, if the user has created an account or an error if something goes wrong -->
<b class="account"><p>{{message}}</p></b>