<div class="jumbotron text-center">
    <br>
    <h1>Login</h1>
    <br>
<form class="form-horizontal" ng-controller="LoginController">
  <div class="form-group">
    <label for="inputName3" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
      <input class="form-control" id="inputName3" placeholder="Name" ng-model="username">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" ng-click="saveData(username, password)" class="btn btn-primary">Login</button>
    </div>
  </div>
</form>
</div>
<div ui-view></div>