<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="BookshopController">
  <head>
    <title ng-bind="'Books - ' + details.Title"></title>
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
  </head>

  <body>
            

      <div class="animated zoomInRight">
        <div class="input-group search-bar">
          <input type="text" ng-model="search" ng-change="change()" onclick="select()" class="form-control" placeholder="Search Book ISBN (e.g. 123456789)" autofocus />
          <span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>
        </div>

        <div id="main-info" ng-include="'partials/main-info.html'" class="col-md-8"></div>

        <div id="related-results" ng-include="'partials/related-results.html'" class="col-md-4 animated bounce related-results"></div>
      </div>
    </div>

    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
