<h2>Favourite Books : {{ total }}</h2>
<table class="table table-hover table-striped table-bordered">
    <tbody>
    <center>
        <ul style="list-style-type:none" ng-repeat="book in books">
            <p>
                <img ng-src="{{book.poster_path}}">
            </p>
            <p>{{ book.title }}</p>
            <p>{{ book.release_date }}</p>
            <p><a href="#/book/view/{{book.id}}">View Details</a></p>
            <br>
            ___________________________
            <br>
        </ul>
        </center>
    </tbody>
</table>