<h2>View Book Details : {{ books.title }}</h2>
<table class="table table-hover table-striped table-bordered">
    <tbody>
    <center>
        <ul style="list-style-type:none">
            overview:<p>{{ books.overview }}</p>
            <p>popularity: {{ books.popularity }}</p>
            <p>Release data: {{ books.release_date }}</p>
        </ul>
        </center>
    </tbody>
</table>